extends ../layouts/common.pug

block content
	.container(style="background-color: #ffffff; height: 100%")

		if errors
			each error in errors
				.alert.alert-danger= error

		form.m-auto(action='/admin/login', method='POST', style="width: 50%")
			h2 ĐĂNG NHẬP 
			.form-group
				label(for='exampleInputEmail1') Tài khoản
				input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter name', name='name', value=values ? values.name: '')
			.form-group
				label(for='exampleInputPassword1') Mật khẩu
				input#exampleInputPassword1.form-control(type='password', placeholder='Password', name='password', value=values ? values.password : '')

			button.btn.btn-primary(type='submit') Đăng nhập	