body {

}


.container .content .tin-the-gioi {
	max-width: auto;
	max-height: auto;
	display: flex;
	margin: 20px 0;
}

.container .content .tin-the-gioi .image {
	margin-right: 10px;

}

.container .content .tin-the-gioi .image a {
	list-style-type: none;
	text-decoration: none;
}

.container .content .tin-the-gioi .image a img {
	height: 100px;
	width: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	transform: scale(1);  
		
	transition: all 0.5s;

}

.container .content .tin-the-gioi .image a img:hover {
	transform: scale(1.05);
	
}

.container .content .tin-the-gioi .content {
	display: flex;
	flex-direction: column;

}

.container .content .tin-the-gioi .content h4{
	margin: 0;
	overflow: hidden;
}

.container .content .tin-the-gioi .content a {
	color: black;
	flex-grow: 1;

}

.container .content .tin-the-gioi .content a:hover{
	color: #2fa1b3;
}

.container .content .tin-the-gioi .content .link{
	align-items: flex-end;
}

.container .content .tin-the-gioi .content .link a{
	text-decoration: none;
	list-style-type: none;
	color: #adb5bd;
	margin-right: 10px;
}

.container .content .tin-the-gioi .content .link a:hover{
	color: #2fa1b3;
}
