extends ../layouts/mdb.pug
block content

	// Start your project here
	canvas#lineChart
	// End your project here





	// jQuery
	script(type='text/javascript', src='MDB-free/js/jquery.min.js')
	// Bootstrap tooltips
	script(type='text/javascript', src='MDB-free/js/popper.min.js')
	// Bootstrap core JavaScript
	script(type='text/javascript', src='MDB-free/js/bootstrap.min.js')
	// MDB core JavaScript
	script(type='text/javascript', src='MDB-free/js/mdb.min.js')
	// Your custom scripts (optional)
	script(type='text/javascript', src='MDB-free/js/chart.js')